* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #dedede;
    font-family: "Poppins", sans-serif;

}

header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4vw;

    z-index: 999;

    ul {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        list-style-type: none;
    }

    .header-btn {
        width: 389px;
        display: flex;
        justify-content: end;
        gap: 20px;
    }
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;

    button {
        font-size: 16px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 4px;
        font-family: "Poppins", sans-serif;
    }

    .logoFundo {
        position: absolute;
        z-index: 3;
        right: -12%;
        bottom: -22%;
        width: 50vw;
        mix-blend-mode: color-dodge;
    }

    .slide {
        width: 100%;
        height: 100%;
        background: linear-gradient(100deg, #2AC4FF 2.57%, #0D88BB 95.91%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        padding: 4vw 4vw 4vw 0;
        position: absolute;
        transition: opacity .1s 1s, clip-path .1s 1s;
        clip-path: circle(0% at 89% 50%);
        opacity: 0;
        z-index: 1;

        .imgCirculo {
            transform: rotate(-50deg);
            transition: transform .5s;
        }

        .imgCirculo {
            margin-left: -20%;
            width: 40vw;
        }

        .conteudo {
            h2 {
                font-size: 5vw;
            }

            p {
                width: 80%;
                font-size: clamp(14px, 1.1vw, 20px);
                margin-bottom: clamp(24px, 2vw, 40px);
            }

            h2,
            p,
            button {
                opacity: 0;
                transition: all .5s .5s;
            }

            p {
                transform: translateX(-100px);
            }

            button {
                transform: translateY(20px);
            }
        }

        .latas {
            position: relative;
            z-index: 4;
            display: flex;

            img {
                width: 14vw;
            }

            img:nth-child(2) {
                scale: .8;
                cursor: pointer;
                transition: scale 0.3s;
                &:hover {
                    scale: 0.82;
                }
            }
        }
    }

    .slide.ativo {
        opacity: 1;
        clip-path: circle(120vw at 89% 50%);
        transition: opacity .1s, clip-path 1s;
        z-index: 2;

        h2,
        p,
        button {
            opacity: 1;
        }

        .imgCirculo {
            transform: rotate(50deg);
            transition: transform 1s;
            z-index: 2;

        }

        h2 {
            transition: opacity 0.5s 0.5s;
        }

        p {
            transform: translateX(0);
            transition: opacity 0.5s 1s, transform 0.5s 1s;
            z-index: 1;
        }

        button {
            transform: translateY(0);
            transition: opacity 0.5s 1s, transform 0.5s 1s;
        }
    }

    .slide:nth-child(2) {
        background: linear-gradient(100deg, #FF849D 2.57%, #C5566A 95.91%);
    }

    .slide:nth-child(3) {
        background: linear-gradient(100deg, #FF8917 2.57%, #D06000 95.91%);
    }

    .slide:nth-child(4) {
        background: linear-gradient(100deg, #008E5E 2.57%, #005235 95.91%);
    }
}